.box-1 {
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    transform: rotate(45deg);
    transition: width 2s linear;
}

.box-1:hover {
    width: 200px;
}

.box-2 {
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(30deg) scale(2);
}