header{
grid-area: header;
background-color: #66f;
}
menu{
grid-area: menu;
background-color: #66f;
}
main{
grid-area: main;
background-color: #66f;
}
footer{
grid-area: footer;
background-color: #66f;
}

.grid-container{
    display: grid;
    grid-template-areas:
    "header"
    "menu"
    "main"
    "footer";
    gap: 10px;
    }