.grid-container {
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    row-gap: 50px;
    column-gap: 20px;
}

.grid-item {
    border: solid 1px green;
}

.grid-item img{
    height: 100%;
    width: 100%;
}