/*.header {
    grid-area: header
}

.main {
    grid-area: main
}

.sidebar {
    grid-area: sidebar
}

.lefty {
    grid-area: lefty
}

.footer {
    grid-area: footer
}*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 500px;
    /*grid-template-areas: 
    'header header header' 
    'lefty main sidebar'
    'footer footer sidebar'*/
}

.box {
    border: solid 1px orangered;
    margin: 5px;
}